<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Link your stylesheet -->
  <title>DishDelight</title>
</head>
<body>
  <h1>Try A New Meal Today</h1>
  <form id="search-form">
    <input type="text" id="searchQuery" placeholder="Enter Main ingredient">
    <button type="submit">Search</button>
  </form>

<div id="results"></div>

<script src="scripts.js">

</script>

</html>
